html {
  font-size: 106.25%;
}

.form-textbox-input {
  font-size: 17px;
  font-weight: 400;
  height: 3.294rem;
  line-height: 1.235;
  border-radius: 12px;
  padding: 1.0588rem 0.9412rem 0;
  border-style: solid;
}

.form-textbox-input::placeholder,
.form-textbox-label {
  color: #6e6e73;
}

.form-textbox .form-textbox-input {
  color: #1d1d1f;
}

.form-textbox {
  margin-top: 0.2rem;
}

.form-textbox-label {
  left: 1rem;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.235;
  max-width: calc(100% - 32px);
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  top: 1.0588rem;
  white-space: nowrap;
  transition: 0.125s ease-in;
  padding: 0 0.9412rem;
}

.form-textbox-input:focus-within {
  border-color: #0071e3;
  border-width: 2px;
  outline: none;
}

.form-textbox-input:focus-within + .form-textbox-label,
.form-textbox-input:focus + .form-textbox-label {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.333;
  top: 0.5882rem;
  color: #6e6e73;
}

.form-textbox input:not(:invalid) + .form-textbox-label {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.333;
  top: 0.5882rem;
}